@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');

.main {
  background: #000000;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  padding: 10px;

  h1 {
    font-size: 1.5em;
    padding: 0.83em 0em;
  }
  .form-container {
    label {
      width: 100%;
      display: block;
    }
    input[type="text"] {
      width: 100%;
      box-sizing: border-box;
      -webkit-box-sizing:border-box;
      -moz-box-sizing: border-box;
      display: block;
      margin:1em 0em;
      padding:5px 0px;
    }
  }


  #card-container {
    .card {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding:10px;
      margin: 10px 5px;
      width: fit-content;
      text-align: center;
      display: inline-grid;
      img.avatar {
        width: 150px;
        margin:10px 0px;
      }
      span {
        display: grid;
      }
    }
    .card:hover {
      background-color: #00bed8;
      cursor: pointer;
    }
  }
}
